@import '../../variables.scss' ;

.Antcard{
    .ant-card-body{
        width: 250px ;
    }
    // width: 400px !important;
}
.actual_price {
    color: $secondary-background-color;
}

.discounted_price {
    text-decoration: line-through;
    color: $price-text-color;
    margin-left: 10px;
}

.floating_buttons {
    position: absolute;
    top: 42%;
    right: -15px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.float-hover:hover{
    background-color: $secondary-background-color;
    .ant-float-btn-icon{
        color: $button-text-color !important;
    }
}

.banner {
    position: absolute;
    top: 7%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 41px;
    height: 20px;
    background-color: $secondary-background-color;
    color: white;
    padding: 0px 2px;
    border-radius: 4px;
    margin-right: 8px;
}

.hover-button {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.3s ease;
    width: 100%;
    right: -1px;
}

.ant-card:hover .hover-button {
    bottom: 10px;
}

// position: absolute;
// top: 148px;
// width: 100%;
// right: -1px;