@import './variables.scss' ;
.page{
    background-color: $primary-background-color;
    color: $primary-text-color;
    overflow-x: hidden;
    width: 100vw;
}

.ant-input:focus {
    box-shadow: 0 0 5px rgba($button-background-color, 0.5); 
    border-color: $button-background-color;
  }
.ant-input:hover{
    border-color: $button-background-color;
}