$primary-background-color: #FFFFFF;
$secondary-background-color: #F66B0E;
$button-background-color: #205375;
$button-text-color: #ecf8ff;
$primary-text-color: #000000;
$secondary-text-color: #FAFAFA;
$secondary-button-color:#DB4444;
$price-text-color:#7D8184;