$primary-background-color: #222831;
$secondary-background-color: #83DFD7;
$button-background-color: #FFFFFF;
$button-text-color: #1c1c1c;
$primary-text-color: #ececec;
$secondary-text-color: #1f1f1f;
$secondary-button-color:#DB4444;
$price-text-color:#4a4f53;