@import '../variables.scss';
.ant-menu-item-selected{
    background-color: $button-background-color !important;
    color: $button-text-color !important;
}
.ant-menu-submenu-selected >.ant-menu-submenu-title{
    background-color: $button-background-color !important;
    color: $button-text-color !important;
}
.dashboard_menu{
    margin-top: 10px;
}
.dasboard_navAndBanner_container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .dashboard_sideMenu_container{
        display: none;
    }
    .dashboard_carousel{
        width:90%;
    }
}

@media (min-width: 768px) {
    .dasboard_navAndBanner_container{
        align-items: flex-start;
        justify-content: space-between;
        .dashboard_sideMenu_container{
            display: inline;
            width: 20vw;
            border-right: 1px solid black;
        }
        .dashboard_carousel{
            width: 55vw;
        }
    }
  }
